@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.menu {
    &__list {
        text-transform: uppercase;
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 31px;
    }

    &__list-link {
        color: $title;
        padding: 0 2px 8px;
        transition: color .3s;
        @extend %roboto-400;

        &:hover {
            color: $accent;
            border-bottom: 2px solid $accent;
            @extend %roboto-700;
        }
    }

    &__list-link--activ {
        color: $accent;
        border-bottom: 2px solid $accent;
        @extend %roboto-700;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link+.user-nav__link {
        padding-left: 25px;
    }

    &__num {
        position: absolute;
        top: -9px;
        right: -14px;
        background-color: $accent;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }
}

.top-slider {
    background-color: $bg;
    padding: 50px 0 45px;
    background-image: url('../images/top-slaid-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        max-width: 1560px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    &__content {
        padding: 125px 20px 0 170px;
        max-width: 760px;
    }

    &__title {
        @extend %roboto-700;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        margin-bottom: 35px;
    }

    &__txt {
        max-width: 470px;
        margin-bottom: 50px;
    }

    &__link {
        @extend %btn-accent;
        padding: 15px 35px;

    }

}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
        padding: 0 15px;
        line-height: 0;

        button {
            width: 26px;
            height: 26px;
            font-size: 0;
            padding: 0;
            background-color: transparent;
            border-radius: 50%;
            border: none;
            border: 1px solid transparent;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: $default;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.slick-active {
            button {
                border-color: $accent;

                &::before {
                    background-color: $accent;
                }
            }
        }
    }
}

.category {
    padding: 120px 0;
    background-image: url('../images/cat_gb_l.png');
    background-repeat: no-repeat;
    background-position: center left;

    &__inner {
        background-image: url('../images/cat_gb_r.png');
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.category-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
    }

    &::before {
        background-image: url('../images/decor_shape.png');
        width: 120px;
        height: 121px;
        top: -40px;
        left: -45px;
    }

    &::after {
        background-image: url('../images/decor_shape2.png');
        width: 65px;
        height: 52px;
        bottom: 98px;
        right: -21px;
    }

    &__item {
        width: 370px;
        z-index: 1;
        background-color: #fff;
        padding: 60px 40px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }

    &__title {
        @extend %roboto-400;
        font-size: 22px;
        line-height: 26px;
        color: $title;
        padding: 40px 0 20px;
    }
}

.category-main {
    &__txt {
        text-align: center;
        max-width: 570px;
        margin: 0 auto 55px;

    }

    &__box {
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;

    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 35px;
        padding-left: 40px;

        &:nth-child(1) {
            grid-row: span 2;

            .category-main__subtitle,
            .category-main__link:hover {
                color: #5800e4;
            }

            .category-main__link:hover {
                padding-bottom: 4px;
                border-bottom: 1px solid #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;

            .category-main__subtitle,
            .category-main__link:hover {
                color: $accent;
            }

            .category-main__link:hover {
                padding-bottom: 4px;
                border-bottom: 1px solid $accent;
            }
        }

        &:nth-child(3) {

            .category-main__subtitle,
            .category-main__link:hover {
                color: #ffb534;
            }

            .category-main__link:hover {
                padding-bottom: 4px;
                border-bottom: 1px solid #ffb534;
            }
        }

        &:nth-child(4) {

            .category-main__subtitle,
            .category-main__link:hover {
                color: #34c3ff;
            }

            .category-main__link:hover {
                padding-bottom: 4px;
                border-bottom: 1px solid #34c3ff;
            }
        }
    }

    &__subtitle {
        margin-bottom: 5px;
    }

    &__title {
        font-size: 22px;
        color: $title;
        margin-bottom: 16px;
    }

    &__link {
        text-transform: uppercase;
        @extend %roboto-400;
        transition: color .3s;

    }
}

.fashion {
    padding: 120px 0;

    background-image: url('../images/pattern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &__box {
        display: flex;
    }

    &__popup {
        margin-right: 60px;
        max-width: 535px;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    &__content {
        max-width: 570px;
    }

    &__subtitle {
        padding: 80px 0 20px;
        // color: $accent;
        // @extend %quicksand-500;
        // font-size: 22px;
        // line-height: 26px;
        // text-transform: uppercase;

    }

    &__title {
        text-align: left;
    }

    &__txt {
        margin-bottom: 50px;
    }

    &__link {
        @extend %btn-accent;
    }

}

.product {
    padding: 120px 0;
    text-align: center;

    &__text {
        margin: 0 auto 55px;
        width: 570px;
    }

    &__link {
        text-transform: uppercase;
        padding: 15px 30px;
        text-align: center;
        border: 1px solid $accent;
        display: inline-block;
        margin: 55px auto 0;
        color: $title;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 30px;
    }
}

.product-item {
    max-width: 370px;
    @extend %roboto-400;

    &__img-box {
        position: relative;
        height: 370px;
        overflow: hidden;
        margin-bottom: 25px;
    }

    &__link-box {
        position: absolute;
        background-color: #fff;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 215px;
        height: 50px;
        margin: 0 auto;
        border-radius: 25px;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translateY(200%);
        transition: all .5s;
    }

    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }

    &__link--lines::before,
    &__link--lines::after {
        content: "";
        position: absolute;
        height: 30px;
        width: 1px;
        background-color: #ececec;
        top: -4px;
    }

    &__link--lines::before {
        left: -30px;
    }

    &__link--lines::after {
        right: -30px;
    }

    &__img {
        object-fit: cover;
    }

    &__link {
        display: inherit;
        position: relative;

        path {
            transition: all .3s;
        }
    }

    &__link:hover {
        path {
            fill: $accent;
        }
    }

    &__title {
        color: $title;
        padding: 20px 0;
        font-size: 22px;
        line-height: 26px;

    }

    &__price {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__new-price {
        color: $title;
    }

    &__old-price {
        text-decoration: line-through;
    }

    &--sale {
        .product-item__img-box::before {
            content: "SALE";
            position: absolute;
            top: 25px;
            left: 25px;
            @extend %btn-accent;
            padding: 5px 8px;
            line-height: 1;
        }
    }
}

.star {
    margin: 0 auto;
}

.promo {
    text-align: center;
    background-image: url('../images/promo_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 150px 0 160px;

    &__box {
        max-width: 570px;
        width: 100%;
        margin-left: auto;

    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__link {
        text-transform: uppercase;
        padding: 15px 30px;
        text-align: center;
        border: 1px solid $accent;
        display: inline-block;
        margin: 55px auto;
        color: $title;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__clock {
        display: flex;
        justify-content: space-between;
    }

    &__clock-item {
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            @extend %roboto-700;
            font-size: 48px;
            line-height: 56px;
            color: $title;
        }
    }
}

.partners {
    padding: 120px 110px;

    &__list {
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.blog {
    padding-bottom: 160px;
    background-image: url('../images/blog_decor_r2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 93% 90%;

    &__txt {
        max-width: 570px;
        text-align: center;
        margin: 0 auto 50px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            background-image: url('../images/blog_decor_l.png');
            width: 106px;
            height: 105px;
            top: 200px;
            left: -200px;
        }

        &::after {
            background-image: url('../images/blog_decor_r1.png');
            width: 126px;
            height: 53px;
            top: -30px;
            right: -23px;
            z-index: -1;
        }
    }

    &__item {
        max-width: 370px;
        height: 480px;
        height: 100%;
        border: 1px solid #e8e8e8;
        transition: all .3s;

        &:hover {
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            transform: translate(-3px, -3px);
            border: none;

            .blog__item-link {
                color: $accent;

                path {
                    fill: $accent;
                }
            }
        }
    }


    &__item-descr {
        padding: 30px 40px;
    }

    &__info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    &__info-box-user {
        display: inherit;
        align-items: center;
        gap: 10px;
    }

    &__info-box-data {
        display: inherit;
        align-items: center;
        gap: 10px;
    }

    &__item-title {
        color: $title;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 20px;
    }

    &__item-link {
        margin-bottom: 30px;
        transition: all .3s;
    }
}


footer {
    background-color: $bg;

}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;

    &__contact {
        width: 260px;
        margin-right: 40px;
    }

    &__logo {
        margin-bottom: 35px;
    }

    &__adress,
    &__email,
    &__tel {
        display: block;
        padding-bottom: 10px;
    }

    &__social-item+.footer-top__social-item {
        margin-left: 10px;
    }

    &__social-list {
        display: flex;
    }

    &__social-link {
        path {
            fill: $default;
        }
    }

    &__social-link:hover {
        path {
            fill: $accent;
        }
    }

    &__nav {
        width: 170px;
        margin-right: 30px;
    }

    &__item-form {
        max-width: 470px;
    }

    &__title {
        margin-bottom: 40px;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 1;
        color: $title;
    }

    &__txt {
        margin-bottom: 30px;
        line-height: 26px;
    }

    &__input {
        background-color: #fff;
        max-width: 300px;
        width: 100%;
        height: 55px;
        border: none;
        padding: 12px 10px;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

        &::placeholder {
            padding-left: 20px;
            @extend %quicksand-500;
            font-size: 16px;
            line-height: 36px;
            color: $default;
        }
    }

    &__btn {
        @extend %btn-accent;
        border: none;
        cursor: pointer;
        margin-left: 10px;
    }
}

.footer-bottom,
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @extend %quicksand-500;
    font-size: 12px;
    line-height: 34px;
    text-transform: capitalize;

}

.footer-bottom {
    padding: 30px 0 35px;

    &__accept span {
        margin-right: 20px;
    }

    &__img+.footer-bottom__img {
        margin-left: 25px;
    }

    &__img {
        display: inline;
        vertical-align: middle;
    }
}


@import 'media';